<nav class="fixed-navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg">
          <h1 class="smallhk">Hop</h1>
        </a>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg" class="kongclick" href="/hopkong">
          <img src="http://i.imgur.com/rpxlUk4.png" alt="Brand" width="180"/>
        </a>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg">
          <h1 class="smallhk">Kong</h1>
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/hopkong"><img src="http://i.imgur.com/VrhbqGz.png" alt="home"></a>
          </li>
          <li>
            <a href="/bookmarks"><img src="http://i.imgur.com/3wkva8Z.png" alt="bookmarks"></a>
          </li>
            <li class="hidden-xs">
              <h1 class="largehk">Hop</h1>
            </li>
            <li class="hidden-xs">
              <a class="kongclick" href="/hopkong"><img src="http://i.imgur.com/rpxlUk4.png" alt="Brand" width="180"/></a>
            </li>
            <li class="hidden-xs">
              <h1 class="largehk">Kong</h1>
            </li>
        <% if (!authenticated) { %>
          <li><button class="btn btn-default btn-responsive" data-toggle="modal" data-target="#signupModal">Sign Up</button></li>
          <li><button class="btn btn-default btn-responsive" data-toggle="modal" data-target="#signinModal">Sign In</button></li>
        <% } else { %>
          <li><h3 id="username"><%= user.username%></h3></li>
          <li><button id="signout-btn" class="btn btn-success btn-responsive">Sign Out</button></li>
        <% } %>
        </ul>

      </div>
    </div>
  </nav>

}
@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}
  .modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
@media (min-width: 768px) {
  .navbar-nav {
    position: relative;
    right: -50%;
  }
  .navbar-nav > li {
    position: relative;
    left: -50%;
  }
  .navbar-nav > li a {
    line-height: 126px;
    vertical-align: middle;
    padding: 0 24px;
  }
}
@media (min-width: 992px) {
  .navbar-nav > li a {
    padding: 0 48px;
  }
}
@media (min-width: 1200px) {
  .navbar-nav > li a {
    padding: 0 68px;
  }
}
