<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hop Kong</title> <!-- CHANGE-ME -->

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.min.js"></script>  <!-- selectpicker -->
  <script src="/public/js/layouts/layout.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css"> <!-- selectpicker -->
  <link rel="stylesheet" href="/public/css/layouts/layout.css">
</head>
<body>

  <nav class="fixed-navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Hop Kong</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-left" role="search">
        <P>GUEST</P>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <% if (!authenticated) { %>
            <li>
              <button class="btn btn-default" data-toggle="modal" data-target="#signupModal">Sign Up</button>
            </li>
            <li>
              <button class="btn btn-default" data-toggle="modal" data-target="#signinModal">Sign In</button>
            </li>
          <% } else { %>
            <li>
              <button id="signout-btn" class="btn btn-default">Sign Out</button>
            </li>
          <% } %>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <!-- Sign Up Modal -->
  <div id="signupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="signupModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form id="signup">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="email" placeholder="email">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input id="signup-btn" type="submit" name="Sign Up">
            <p id="signup-form-message">Some text in the modal.</p> <!-- quick fix -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button>  -->
        </div>
      </div>
    </div>
  </div>

  <!-- Sign In Modal -->
  <div id="signinModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="signinModalLabel">Sign In</h4>
        </div>
        <div class="modal-body">
          <form id="signin">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input id="signin-btn" type="submit" name="Sign In">
            <p>Some text in the modal.</p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <%- content %>

</body>
</html>
