<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Hop Kong</title> <!-- CHANGE-ME -->

  <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/js/bootstrap-select.min.js"></script>  <!-- selectpicker -->
  <script src="/public/js/layouts/layout.js"></script>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.9.4/css/bootstrap-select.min.css"> <!-- selectpicker -->
  <link rel="stylesheet" href="/public/css/layouts/layout.css">
</head>
<body>

  <nav class="fixed-navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg">
          <h1 class="smallhk">Hop</h1>
        </a>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg" class="kongclick" href="/hopkong">
          <img src="http://i.imgur.com/rpxlUk4.png" alt="Brand" width="180"/>
        </a>
        <a class="navbar-brand hidden-sm hidden-md hidden-lg">
          <h1 class="smallhk">Kong</h1>
        </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="kingkong">
          <li><a href="/hopkong"><img src="http://i.imgur.com/VrhbqGz.png" alt="home"></a></li>
          <li><a href="/bookmarks"><img src="http://i.imgur.com/3wkva8Z.png" alt="bookmarks"></a></li>
          <li class="hidden-xs"><a class="kongclick" href="/hopkong"><img src="http://i.imgur.com/XQzrggQ.png" alt="Brand" width="600"/></a></li>
        <% if (!authenticated) { %>
          <li><button class="btn btn-primary btn-responsive" data-toggle="modal" data-target="#signupModal">Sign Up</button></li>
          <li><button class="btn btn-primary btn-responsive" data-toggle="modal" data-target="#signinModal">Sign In</button></li>
        <% } else { %>
          <li><h3 id="username"><%= user.username%></h3></li>
          <li><button id="signout-btn" class="btn btn-success btn-responsive">Sign Out</button></li>
        <% } %>
        </ul>

      </div>
    </div>
  </nav>

  <!-- Sign Up Modal -->
  <div id="signupModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="signupModalLabel">Sign Up</h4>
        </div>
        <div class="modal-body">
          <form id="signup">
            <input type="text" name="name" placeholder="name">
            <input type="text" name="email" placeholder="email">
            <br>
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input id="signup-btn" class= "btn btn-success" type="submit" name="Sign Up">
            <p id="signup-form-message">Please enter your details</p> <!-- quick fix -->
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button>  -->
        </div>
      </div>
    </div>
  </div>

  <!-- Sign In Modal -->
  <div id="signinModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="signinModalLabel">
    <div class="modal-dialog" role="document">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title" id="signinModalLabel">Sign In</h4>
        </div>
        <div class="modal-body">
          <form id="signin">
            <input type="text" name="username" placeholder="username">
            <input type="password" name="password" placeholder="password">
            <input id="signin-btn" class="btn btn-success" type="submit" name="Sign In">
            <p>Please enter your login details</p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-default" data-dismiss="modal">Close</button>
          <!-- <button type="button" class="btn btn-primary">Save changes</button> -->
        </div>
      </div>
    </div>
  </div>

  <%- content %>

</body>
</html>
