<div id="home-page">
  <h2>Home Page</h2>
</div>

<div id="options-screen" class="row">
  <div class="options-buttons col-xs-3 col-xs-push-1"> <!-- options HK locality -->
    <select id="hk-locality" class="selectpicker col-xs-12" title="Hong Kong Locality">
      <option>Central</option>
      <option>Sai Ying Pun</option>
      <option>Sheung Wan</option>
    </select>
  </div> <!-- /options HK locality -->
  <div class="options-buttons col-xs-3 col-xs-push-1"> <!-- options vendor type -->
    <select id="vendor-type" class="selectpicker col-xs-12" title="Vendor Type">
      <option>Brewery</option>
      <option>Online</option>
      <option>Retail</option>
      <option>RestBar</option>
    </select>
  </div> <!-- /options vendor type -->
  <div class="options-buttons col-xs-3 col-xs-push-1"> <!-- beer country -->
    <select id="beer-country" class="selectpicker col-xs-12" title="Beer Country of Origin">
      <option>Australia</option>
      <option>England</option>
      <option>Japan</option>
      <option>USA</option>
    </select>
  </div> <!-- /beer country -->
</div>
<div>
  <button id="find-vendor-btn" class="btn btn-default">Find Vendor</button>
</div>

<script src="/public/js/static_pages/home.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/home.css">
