<div id="home-page">
  <h2>Home Page</h2>
</div>

<div id="options-screen">
  <div class="row">
    <div class="options-buttons col-xs-3 col-xs-push-1"> <!-- options HK locality -->
      <select id="hk-locality" class="selectpicker col-xs-12" title="Hong Kong Locality">
        <option>Central</option>
        <option>Sai Ying Pun</option>
        <option>Sheung Wan</option>
      </select>
    </div> <!-- options HK locality -->
  </div>  <!-- row -->

  <div class="row">
    <div class="options-buttons col-xs-3 col-xs-push-1"> <!-- options vendor type -->
      <select id="vendor-type" class="selectpicker col-xs-12" title="Vendor Type">
        <option value="brewery">Brewery</option>
        <option value="online">Online</option>
        <option value="retail">Retail</option>
        <option value="restbar">RestBar</option>
      </select>
    </div> <!-- options vendor type -->
  </div> <!-- row -->

  <div class="row">
    <div class="options-buttons col-xs-3 col-xs-push-1"> <!-- options orientation -->
      <select id="beer-country" class="selectpicker col-xs-12" title="Beer Country of Origin">
        <option value="australia">Australia</option>
        <option value="england">England</option>
        <option value="japan">Japan</option>
        <option value="usa">USA</option>
      </select>
    </div> <!-- options orientation -->
  </div> <!-- row -->
</div>

<button id="find-btn" class="btn btn-default">Find</button>


<script src="/public/js/static_pages/home.js"></script>
<link rel="stylesheet" href="/public/css/static_pages/home.css">
