#find-options {
  padding: 150px 30px 40px 0;
  text-align: center;
  margin: 15px;
}
.selectpicker
{
  font-size: 20px;
}
.thumbnail {
  border-radius: 10px;
  border-width: 5px;
  border-color: white;
}