@font-face {
  font-family: myFirstFont;
  src: url(/public/css/layouts/AprilsHandwriting-Regular.otf);
  color: #fffafa;
}
  body {
  background: url(/public/images/hong-kong-skyline.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 80px;
  background-color: rgba(0,0,0,.25);
  /*background-color: #02113f;
  opacity: 0.5;*/
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}