

@font-face {
  font-family: myFirstFont;
  src: url(/public/css/layouts/laurencb.ttf);
  color: #fffafa;
}

body {
  /*background: url(/public/images/hong-kong-skyline.jpg) no-repeat center center fixed;*/
  background: url(/public/images/hong-kong-skyline.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: myFirstFont;
}

.kingkong {
  text-align: center;
}

.kingkong li {
  display: inline;
}

h3 {
  color: white;
}
.align * {
  display: inline;
}
#signup, #signin {
  color: black;
}
.modal-dialog {
  padding-top:20%;
  font-size: 24px;
  color: white;
}
.modal-title {
  font-size: 24px;
  color: white;
}
.modal-content {
  height: 100% !important;
  overflow:visible;
  background-color: black;
}
.modal-body {
  height: 40%;
  overflow: auto;
  background-color: black;
  color: black;
  font-size: 24px;
}
.largehk {
  color: white;
  margin-top: 30px;
  font-size: 100px;
}
.smallhk {
  color: white;
  margin-top: 30px;
  font-size: 50px;
}
.kongclick {
  padding: 0;
}
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  /*height: 80px;*/
  background-color: rgba(0,0,0,.25);
  /*background-color: #02113f;
  opacity: 0.5;*/
}
.modal {
  text-align: center;
  vertical-align: middle;
}