<div id="home-page">
  <!-- <h2>Home Page</h2> -->
</div>

<div id="find-options" class="row">
  <div class="find-dropdown col-lg-3 col-md-3 col-sm-6 col-xs-12"> <!-- options vendor type -->
    <select id="vendor-type" class="selectpicker" data-width="100%" title="Vendor Types">
      <option value="">All Vendors</option>
      <option>Brewery</option>
      <option>Craft Beer Bar</option>
      <option>Online Store</option>
      <option>Retail Store</option>
    </select>
  </div> <!-- /vendor type -->
  <div class="find-dropdown col-lg-3 col-md-3 col-sm-6 col-xs-12"> <!-- options HK locality -->
    <select id="hk-locality" class="selectpicker" data-width="100%" title="All Locations">
      <option value="">All Locations</option>
      <option>Central</option>
      <option>Kennedy Town</option>
      <option>Sai Ying Pun</option>
      <option>Sheung Wan</option>
    </select>
  </div> <!-- /HK locality -->
  <div class="find-dropdown col-lg-3 col-md-3 col-sm-6 col-xs-12"> <!-- beer country -->
    <select id="beer-country" class="selectpicker" data-width="100%" title="Beer Countries">
      <option value="">All Countries</option>
      <option>Australia</option>
      <option>Belgium</option>
      <option>Canada</option>
      <option>England</option>
      <option>France</option>
      <option>Hong Kong</option>
      <option>Italy</option>
      <option>Japan</option>
      <option>Netherlands</option>
      <option>New Zealand</option>
      <option>Norway</option>
      <option>Scotland</option>
      <option>USA</option>
    </select>
  </div> <!-- /beer country -->
    <button id="find-vendor-btn" class="btn btn-default btn-responsive btn-success">Find Vendor</button>
</div>

<!-- code to be appended to -->
<div class="row">
  <div id="images" class="container-fluid">
    <% vendors.forEach(function (vendor) { %>
      <div class="col-lg-3 col-md-4 col-xs-6 thumb">
        <a class="thumbnail" href="/vendors/<%= vendor._id %>">
          <img class="img-responsive" src="<%= vendor.image %>"   alt="<%= vendor.name %>">
        </a>
      </div>
    <% }) %>
  </div>
</div>

<link rel="stylesheet" href="/public/css/pages/home.css">
<script src="/public/js/pages/home.js"></script>